.fab,.fas{
  font-weight: 500;
  font-size: larger;
  font-family: 'FontAwesome';
  font-style: normal;
  color: #000;
}
a{
  text-decoration: none;
}
ul {
  list-style: none;
}
a .menu:hover{
  color: #blue;
}
.main{
  background-image: url("C:/Users/HP/OneDrive/Documents/Desktop/task/image/code2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.img-border{
  border: 5px solid #fff !important;
}